@layer design-system.material.system.color {
  :root, :host {
    /* Primary Colors */
    --md-sys-color-primary-dark: var(--md-ref-palette-primary80);
    --md-sys-color-primary-container-dark: var(--md-ref-palette-primary30);
    --md-sys-color-on-primary-dark: var(--md-ref-palette-primary20);
    --md-sys-color-on-primary-container-dark: var(--md-ref-palette-primary90);
    --md-sys-color-inverse-primary-dark: var(--md-ref-palette-primary40);

    /* Secondary Colors */
    --md-sys-color-secondary-dark: var(--md-ref-palette-secondary80);
    --md-sys-color-secondary-container-dark: var(--md-ref-palette-secondary30);
    --md-sys-color-on-secondary-dark: var(--md-ref-palette-secondary20);
    --md-sys-color-on-secondary-container-dark: var(--md-ref-palette-secondary90);
    
    /* Tertiary Colors */
    --md-sys-color-tertiary-dark: var(--md-ref-palette-tertiary80);
    --md-sys-color-tertiary-container-dark: var(--md-ref-palette-tertiary30);
    --md-sys-color-on-tertiary-dark: var(--md-ref-palette-tertiary20);
    --md-sys-color-on-tertiary-container-dark: var(--md-ref-palette-tertiary90);

    /* Purple-Pink Colors */
    --md-sys-color-purple-pink-dark: var(--md-ref-palette-purple-pink80);
    --md-sys-color-purple-pink-container-dark: var(--md-ref-palette-purple-pink30);
    --md-sys-color-on-purple-pink-dark: var(--md-ref-palette-purple-pink20);
    --md-sys-color-on-purple-pink-container-dark: var(--md-ref-palette-purple-pink90);

    /* Yellow-Brown Colors */
    --md-sys-color-yellow-brown-dark: var(--md-ref-palette-yellow-brown80);
    --md-sys-color-yellow-brown-container-dark: var(--md-ref-palette-yellow-brown30);
    --md-sys-color-on-yellow-brown-dark: var(--md-ref-palette-yellow-brown20);
    --md-sys-color-on-yellow-brown-container-dark: var(--md-ref-palette-yellow-brown90);

    /* Surface Colors */
    --md-sys-color-surface-dark: var(--md-ref-palette-neutral6, var(--md-ref-palette-neutral10));
    --md-sys-color-surface-dim-dark: var(--md-ref-palette-neutral6, var(--md-ref-palette-neutral10));
    --md-sys-color-surface-bright-dark: var(--md-ref-palette-neutral24, var(--md-ref-palette-neutral25));
    --md-sys-color-surface-container-lowest-dark: var(--md-ref-palette-neutral4, var(--md-ref-palette-neutral10));
    --md-sys-color-surface-container-low-dark: var(--md-ref-palette-neutral10);
    --md-sys-color-surface-container-dark: var(--md-ref-palette-neutral12, var(--md-ref-palette-neutral10));
    --md-sys-color-surface-container-high-dark: var(--md-ref-palette-neutral17, var(--md-ref-palette-neutral20));
    --md-sys-color-surface-container-highest-dark: var(--md-ref-palette-neutral22, var(--md-ref-palette-neutral25));
    --md-sys-color-on-surface-dark: var(--md-ref-palette-neutral90);
    --md-sys-color-inverse-surface-dark: var(--md-ref-palette-neutral90);
    --md-sys-color-inverse-on-surface-dark: var(--md-ref-palette-neutral20);

    /* Surface-Variant Colors */
    --md-sys-color-surface-variant-dark: var(--md-ref-palette-neutral-variant30);
    --md-sys-color-on-surface-variant-dark: var(--md-ref-palette-neutral-variant80);

    /* Background Colors */
    --md-sys-color-background-dark: var(--md-ref-palette-neutral6, var(--md-ref-palette-neutral10));
    --md-sys-color-on-background-dark: var(--md-ref-palette-neutral90);
    
    /* Error Colors */
    --md-sys-color-error-dark: var(--md-ref-palette-tertiary80);
    --md-sys-color-error-container-dark: var(--md-ref-palette-tertiary30);
    --md-sys-color-on-error-dark: var(--md-ref-palette-tertiary20);
    --md-sys-color-on-error-container-dark: var(--md-ref-palette-tertiary90);

    /* Outline Colors */
    --md-sys-color-outline-dark: var(--md-ref-palette-neutral-variant60);
    --md-sys-color-outline-variant-dark: var(--md-ref-palette-neutral-variant30);

    /* Other Colors */
    --md-sys-color-shadow-dark: var(--md-ref-palette-neutral0);
    --md-sys-color-surface-tint-color-dark: var(--md-sys-color-primary-dark);
    --md-sys-color-scrim-dark: var(--md-ref-palette-neutral0);
  }
}