@layer design-system.reference.color {
  :root, :host {
    /* Core Accent Colors */
    --primary-color-source: oklch(47.49% 0.117 125.87);
    --secondary-color-source: oklch(65.19% 0.043 120.12);
    --tertiary-color-source: oklch(64.77% 0.051 184.27);
    /* Core Neutral Colors */
    --neutral-color-source:  oklch(65.46% 0.01 106.68);

    /* Extended Colors */
    --purple-pink-color-source: oklch(59.84% 0.126 353.87);
    --yellow-brown-color-source: oklch(82.55% 0.054 77.17);
  }
}

@layer design-system.material.reference.color {
  :root, :host {
    --md-source: var(--primary-color-source);

    /* Primary Color Palette */
    --md-ref-palette-primary0: oklch(0% 0 0);
    --md-ref-palette-primary10: oklch(22.05% 0.056 126.24);
    --md-ref-palette-primary20: oklch(30.34% 0.077 125.93);
    --md-ref-palette-primary25: oklch(34.61% 0.088 126.03);
    --md-ref-palette-primary30: oklch(39.1% 0.099 125.95);
    --md-ref-palette-primary35: oklch(43.12% 0.10978132299283623 126.02103604951887);
    --md-ref-palette-primary40: oklch(47.49% 0.117 125.82);
    --md-ref-palette-primary50: oklch(56.18% 0.123 125.31);
    --md-ref-palette-primary60: oklch(64.65% 0.127 124.66);
    --md-ref-palette-primary70: oklch(73.11% 0.132 124.49);
    --md-ref-palette-primary80: oklch(81.75% 0.135 124.1);
    --md-ref-palette-primary90: oklch(90.46% 0.138 123.71);
    --md-ref-palette-primary95: oklch(94.63% 0.139 123.35);
    --md-ref-palette-primary98: oklch(97.85% 0.062 120.12);
    --md-ref-palette-primary99: oklch(98.94% 0.034 115.87);
    --md-ref-palette-primary100: oklch(100% 0 0);

    /* Secondary Color Palette */
    --md-ref-palette-secondary0: oklch(0% 0 0);
    --md-ref-palette-secondary10: oklch(22.17% 0.038 124.67);
    --md-ref-palette-secondary20: oklch(30.78% 0.038 123.01);
    --md-ref-palette-secondary25: oklch(35.04% 0.039 122.18);
    --md-ref-palette-secondary30: oklch(39.45% 0.041 122.71);
    --md-ref-palette-secondary35: oklch(43.59% 0.04 120.79);
    --md-ref-palette-secondary40: oklch(47.92% 0.039 120.61);
    --md-ref-palette-secondary50: oklch(56.51% 0.041 121.13);
    --md-ref-palette-secondary60: oklch(65.19% 0.043 120.12);
    --md-ref-palette-secondary70: oklch(73.92% 0.044 119.24);
    --md-ref-palette-secondary80: oklch(82.43% 0.044 118.78);
    --md-ref-palette-secondary90: oklch(91.02% 0.045 118.36);
    --md-ref-palette-secondary95: oklch(95.45% 0.046 119.32);
    --md-ref-palette-secondary98: oklch(97.93% 0.045 118);
    --md-ref-palette-secondary99: oklch(98.94% 0.034 115.87);
    --md-ref-palette-secondary100: oklch(100% 0 0);
    
    /* Tertiary Color Palette */
    --md-ref-palette-tertiary0: oklch(0% 0 0);
    --md-ref-palette-tertiary10: oklch(21.91% 0.038 185.99);
    --md-ref-palette-tertiary20: oklch(30.31% 0.053 184.97);
    --md-ref-palette-tertiary25: oklch(34.57% 0.051 185.35);
    --md-ref-palette-tertiary30: oklch(38.99% 0.051 183.98);
    --md-ref-palette-tertiary35: oklch(43.3% 0.052 184.5);
    --md-ref-palette-tertiary40: oklch(47.59% 0.051 184.75);
    --md-ref-palette-tertiary50: oklch(56.2% 0.05 185.33);
    --md-ref-palette-tertiary60: oklch(64.77% 0.051 184.27);
    --md-ref-palette-tertiary70: oklch(73.5% 0.05 184.6);
    --md-ref-palette-tertiary80: oklch(82.15% 0.051 183.72);
    --md-ref-palette-tertiary90: oklch(90.74% 0.05 183.92);
    --md-ref-palette-tertiary95: oklch(94.96% 0.05 184.01);
    --md-ref-palette-tertiary98: oklch(97.89% 0.029 180.85);
    --md-ref-palette-tertiary99: oklch(98.95% 0.014 180.72);
    --md-ref-palette-tertiary100: oklch(100% 0 0);
    
    /* Neutral Color Palette */
    --md-ref-palette-neutral0: oklch(0% 0 0);
    --md-ref-palette-neutral10: oklch(22.35% 0.01 116.36);
    --md-ref-palette-neutral20: oklch(31.04% 0.009 116.1);
    --md-ref-palette-neutral25: oklch(35.31% 0.01 114.6);
    --md-ref-palette-neutral30: oklch(39.62% 0.008 106.77);
    --md-ref-palette-neutral35: oklch(43.94% 0.01 114.48);
    --md-ref-palette-neutral40: oklch(48.27% 0.009 114.43);
    --md-ref-palette-neutral50: oklch(56.74% 0.009 106.68);
    --md-ref-palette-neutral60: oklch(65.46% 0.01 106.68);
    --md-ref-palette-neutral70: oklch(74% 0.01 100.04);
    --md-ref-palette-neutral80: oklch(82.82% 0.011 100.86);
    --md-ref-palette-neutral90: oklch(91.44% 0.011 100.83);
    --md-ref-palette-neutral95: oklch(95.67% 0.011 100.82);
    --md-ref-palette-neutral98: oklch(98.15% 0.011 95.16);
    --md-ref-palette-neutral99: oklch(99.04% 0.011 95.16);
    --md-ref-palette-neutral100: oklch(100% 0 0);
    
    /* Neutral-Variant Color Palette */
    --md-ref-palette-neutral-variant0: oklch(0% 0 0);
    --md-ref-palette-neutral-variant10: oklch(22.41% 0.019 121.51);
    --md-ref-palette-neutral-variant20: oklch(31.05% 0.019 119.94);
    --md-ref-palette-neutral-variant25: oklch(35.32% 0.021 118.86);
    --md-ref-palette-neutral-variant30: oklch(39.5% 0.02 118.73);
    --md-ref-palette-neutral-variant35: oklch(43.93% 0.02 118.61);
    --md-ref-palette-neutral-variant40: oklch(48.23% 0.021 117.73);
    --md-ref-palette-neutral-variant50: oklch(56.7% 0.02 114.13);
    --md-ref-palette-neutral-variant60: oklch(65.42% 0.02 113.56);
    --md-ref-palette-neutral-variant70: oklch(74.09% 0.021 116.11);
    --md-ref-palette-neutral-variant80: oklch(82.7% 0.021 113.01);
    --md-ref-palette-neutral-variant90: oklch(91.3% 0.021 112.6);
    --md-ref-palette-neutral-variant95: oklch(95.53% 0.021 112.58);
    --md-ref-palette-neutral-variant98: oklch(98.2% 0.022 112.25);
    --md-ref-palette-neutral-variant99: oklch(99.1% 0.022 112.25);
    --md-ref-palette-neutral-variant100: oklch(100% 0 0);
    
    /* Error Color Palette */
    --md-ref-palette-error0: oklch(0% 0 0);
    --md-ref-palette-error10: oklch(23.6% 0.096 27.19);
    --md-ref-palette-error20: oklch(32.75% 0.13359166003431663 27.319557174016175);
    --md-ref-palette-error25: oklch(37.29% 0.152 27.42);
    --md-ref-palette-error30: oklch(41.71% 0.17 27.38);
    --md-ref-palette-error35: oklch(46.25% 0.185 27.43);
    --md-ref-palette-error40: oklch(50.6% 0.193 27.7);
    --md-ref-palette-error50: oklch(59.39% 0.205 27.82);
    --md-ref-palette-error60: oklch(67.95% 0.20888318170281478 27.7163947118196);
    --md-ref-palette-error70: oklch(75.73% 0.145 27.06);
    --md-ref-palette-error80: oklch(83.83% 0.089 26.76);
    --md-ref-palette-error90: oklch(91.83% 0.04177126481295753 25.22590685781077);
    --md-ref-palette-error95: oklch(95.96% 0.02 28.9);
    --md-ref-palette-error98: oklch(98.42% 0.007627779893999644 27.22731258603076);
    --md-ref-palette-error99: oklch(99.23% 0.006725315390859499 325.62738137631163);
    --md-ref-palette-error100: oklch(100% 0 0);

    /* Purple-Pink Color Palette */
    --md-ref-palette-purple-pink0: oklch(0% 0 0);
    --md-ref-palette-purple-pink5: oklch(18.68% 0.077 352.96);
    --md-ref-palette-purple-pink10: oklch(23.81% 0.098 353.87);
    --md-ref-palette-purple-pink15: oklch(28.29% 0.112 353.28);
    --md-ref-palette-purple-pink20: oklch(32.67% 0.115 353.48);
    --md-ref-palette-purple-pink25: oklch(36.91% 0.117 353.68);
    --md-ref-palette-purple-pink30: oklch(41.21% 0.119 353.39);
    --md-ref-palette-purple-pink35: oklch(45.65% 0.121 353.7);
    --md-ref-palette-purple-pink40: oklch(49.89% 0.122 353.73);
    --md-ref-palette-purple-pink50: oklch(58.56% 0.126 354.03);
    --md-ref-palette-purple-pink60: oklch(67.3% 0.13 354.41);
    --md-ref-palette-purple-pink70: oklch(75.74% 0.133 354);
    --md-ref-palette-purple-pink80: oklch(84.08% 0.09898316028547822 354.97141491770685);
    --md-ref-palette-purple-pink90: oklch(92.05% 0.04488306952399038 357.0356688643065);
    --md-ref-palette-purple-pink95: oklch(95.96% 0.021578011055680205 359.6426025081351);
    --md-ref-palette-purple-pink98: oklch(98.45% 0.007 17.28);
    --md-ref-palette-purple-pink99: oklch(99.23% 0.006725315390859499 325.62738137631163);
    --md-ref-palette-purple-pink100: oklch(100% 0 0);

    /* Yellow-Brown Color Palette */
    --md-ref-palette-yellow-brown0: oklch(0% 0 0);
    --md-ref-palette-yellow-brown5: oklch(17.9% 0.037 79.02);
    --md-ref-palette-yellow-brown10: oklch(22.71% 0.047 78.62);
    --md-ref-palette-yellow-brown15: oklch(26.89% 0.056 77.81);
    --md-ref-palette-yellow-brown20: oklch(31.15% 0.06471128761507514 79.00378674847953);
    --md-ref-palette-yellow-brown25: oklch(35.54% 0.074 77.72);
    --md-ref-palette-yellow-brown30: oklch(39.89% 0.08287105389224494 78.96876706964218);
    --md-ref-palette-yellow-brown35: oklch(44.25% 0.09188864684050782 79.11150174541616);
    --md-ref-palette-yellow-brown40: oklch(48.63% 0.101 78.5);
    --md-ref-palette-yellow-brown50: oklch(57.31% 0.119 78.43);
    --md-ref-palette-yellow-brown60: oklch(66% 0.133 79.28);
    --md-ref-palette-yellow-brown70: oklch(74.57% 0.14 79.41);
    --md-ref-palette-yellow-brown80: oklch(83.23% 0.146 79.45);
    --md-ref-palette-yellow-brown90: oklch(91.6% 0.075 78.4);
    --md-ref-palette-yellow-brown95: oklch(95.71% 0.033 73.2);
    --md-ref-palette-yellow-brown98: oklch(98.32% 0.01 58.22);
    --md-ref-palette-yellow-brown99: oklch(99.23% 0.006725315390859499 325.62738137631163);
    --md-ref-palette-yellow-brown100: oklch(100% 0 0);
  }
}