@import url(./body.css);

@layer theme {
  :root {
    --md-ref-typeface-brand: "Playfair Display", serif;
    --md-ref-typeface-plain: "Open Sans", sans-serif;
    --md-ref-typeface-weight-regular: 400;
    --md-ref-typeface-weight-medium: 500;
    --md-ref-typeface-weight-bold: 700;
  }
}